%h1 About

%h2 Company Information

%ul{:type => "square"}
  %li WICS's founders are Jingwei Ji, Xiaomeng Yang, Sushma Gampa and Anu Ghimire. WICS started out in the living room of co-founder Xiaomeng Yang in 2011.
  %li The site officially launched on May 5, 2011. At the end of the first month in operation, WICS had a total of 3,500 members in the network.
  %li Headquartered in Mountain Iowa City, Iowa, WICS also has U.S. offices in Chicago, Los Angeles, New York, Omaha, San Francisco, Sunnyvale and Washington D.C. International WICS offices are located in Amsterdam, Bangalore, Barcelona, Beijing, Dubai, Dublin, Hong Kong, London, Madrid, Melbourne, Milan, Mumbai, Munich, New Delhi, Paris, Perth, São Paulo, Singapore, Stockholm, Sydney, Tokyo and Toronto.
  %li WICS has more than 9,200 full-time employees with offices in 30 cities around the world. WICS started off 2015 with about 2,100 full-time employees worldwide, up from around 1,000 at the beginning of 2011 and about 500 at the beginning of 2010.

%h2 Worldwide Membership
%ul{:type => "square"}
  %li WICS operates the world’s largest women's professional network on the Internet with more than 400 million members in over 200 countries and territories.
  %li Professionals are signing up to join WICS at a rate of more than two new members per second.
  %li There are over 19 million female students and recent college graduates on WICS. They are WICS's fastest-growing demographic.

