%h1 About
%br
.container{:style =>"background-color: #a2ded0;"}
    .lead
        We are WICS was created as a class project by Jingwei Ji, Xiaomeng Yang, Sushma Gampa and Anu Ghimire.
        %br
        %br
        We wanted to create a website where women in Computer Science can connect with each other. They can display their experiences, projects, blogs and photos to have a professional online presence. Employers looking to hire women can go to the website, filter women by state and profession and connect with them. This helps employers hire recent graduates or professional women for open technological positions. 
    

  
