%h2 Frequently Asked Questions

%ul{:type => "circle"}
  %li Does it cost money to use WICS? Is it true that WICS is going to charge to use the site?
  %p No. Our service is completely free.
  
  %li How old do you have to be to sign up for WICS?
  %p To be eligible to sign up for WICS, you must be at least 13 years old.
  
  %li Can I create a joint WICS account or share a WICS account with someone else?
  %p We don't allow joint accounts. Additionally, you can only sign up for one WICS account per email address. Since each account belongs to one person, we require everyone to use their authentic name on their account. This way, you always know who you're connecting with. Learn more about our name policies.

  %li Can I create multiple WICS accounts?
  %p WICS is a community where people use their authentic identities. It's against the WICS Community Standards to maintain more than one personal account.

  %p If you want to represent your business, brand or product on WICS, you can use your personal account to create and manage a Page. Keep in mind that a personal profile is for non-commercial use and represents an individual person. Learn more about the differences between Pages and profiles.

  %p If you're using your profile to represent something other than yourself, you can convert it to a Page. If you're a public figure, learn about allowing followers.

  %p If you have 2 or more accounts, learn how to move your information into a single account. You can also add another name (ex: maiden name, nickname, former name) to your account.
