%h2 Help on how to use the site:

%p To create a New Account, simply click on the Login/SignUp button on the upper right corner.

%p To create a new profile, first you need to sign up and create a username/password. Once you have been successfully logged in, click your email address on the top-right corner. This will take you to the new users page where you can upload your image, your information and a brief description of what you do and your goals.

%p To add a new blog article or album, simply click on the tabs at the bottom of your profile and follow the instructions. You can also checkout blogs and albums of other people. If you like the blog article, leave a comment on their page!
