- model_class = User

.jumbotron
  .container
    %h1 We Are Women In CS!
    %p A website for women in computer science
    
.container
  .row
    - @users.each do |user|
      .col-md-4
        .thumbnail
          = image_tag user.image.url  
        .caption
          %h3= user.name
        %p= user.description
        = link_to t('.show', :default => t("helpers.links.show")), user_path(user), :class => 'btn btn-primary'
        %br
        %br    
    

