- model_class = User

.jumbotron
  .container
    %h1 We Are Women In CS!
    %p A website for women in computer science
    
.container
  .row
    - @users.each do |user|
      .col-md-2
        .thumbnail
          = image_tag user.image.url()
      .col-md-4
        .caption
          %h3= user.name
        %p= user.description
        = link_to 'View details', user_path(user), :class => 'btn btn-primary'
        %br
        %br    
    

