- model_class = User

.jumbotron
  .container
    %h1 We Are Women In CS!
    %p A website for women in computer science

.container
  .row
    .col-md-1
      %h5.pull-right Filter by 
    .col-md-2
      %select.form-control
        %option all
        %option 2
    .col-md-2
      %select.form-control
        %option all
        %option pp
      
.container
  .row
    - @users.each do |user|
      .col-md-2
        .thumbnail
          = image_tag user.image.url()
      .col-md-4
        .caption
          %h3= user.name
        %p= user.description
        = button_to 'View details', user_path(user), :class => 'btn btn-primary', :method => "get"
        %br
        %br    
    

